# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# Logs
*.log

# IDE files
.vscode/
.idea/
*.swp

# Test coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Mypy
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Misc
.DS_Store
